{% extends 'base.html' %}

{% load static %}

{% block titulo %}

<title>Libros</title>

{% endblock %}

{% block contenido %}

{% if libros %}

<h1>Libros</h1>

{% for p in libros %}
<div class="card" style="width: 100%;">
    <img src="{{ p.imagen.url }}" class="card-img-top" style="display: block; width: 25%;" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ p.titulo }}</h5>
        <p class="card-text">{{ p.descripcion }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Categoria: {{ p.categoria }}</li>
        <li class="list-group-item">Autor: {{ p.autor }}</li>
        <li class="list-group-item">Fecha de agregado: {{ p.fecha_agregado }}</li>
    </ul>
</div>
{% endfor %}

{% endif %}

{% endblock %}
